<%= form_for(@makeateam) do |f| %>
  <% if @makeateam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@makeateam.errors.count, "error") %> prohibited this makeateam from being saved:</h2>

      <ul>
      <% @makeateam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :info %><br />
    <%= f.text_area :info %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
