<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @cafe.name %>
</p>

<p>
  <b>Address:</b>
  <%= @cafe.address %>
</p>

<p>
  <b>Cost:</b>
  <%= @cafe.cost %>
</p>

<p>
  <b>Food:</b>
  <%= @cafe.food %>
</p>

<p>
  <b>Hours:</b>
  <%= @cafe.hours %>
</p>

<p>
  <b>Info:</b>
  <%= @cafe.info %>
</p>


<%= link_to 'Edit', edit_cafe_path(@cafe) %> |
<%= link_to 'Back', caves_path %>
