<h1>Listing adventures</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Website</th>
    <th>Location</th>
    <th>Info</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @adventures.each do |adventure| %>
  <tr>
    <td><%= adventure.name %></td>
    <td><%= adventure.website %></td>
    <td><%= adventure.location %></td>
    <td><%= adventure.info %></td>
    <td><%= link_to 'Show', adventure %></td>
    <td><%= link_to 'Edit', edit_adventure_path(adventure) %></td>
    <td><%= link_to 'Destroy', adventure, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Adventure', new_adventure_path %>
