<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Githuburl:</b>
  <%= @project.githuburl %>
</p>

<p>
  <b>Contributors:</b>
  <%= @project.contributors %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
