<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @hackathon.name %>
</p>

<p>
  <b>Date:</b>
  <%= @hackathon.date %>
</p>

<p>
  <b>Hours:</b>
  <%= @hackathon.hours %>
</p>

<p>
  <b>Website:</b>
  <%= @hackathon.website %>
</p>

<p>
  <b>Location:</b>
  <%= @hackathon.location %>
</p>

<p>
  <b>Info:</b>
  <%= @hackathon.info %>
</p>


<%= link_to 'Edit', edit_hackathon_path(@hackathon) %> |
<%= link_to 'Back', hackathons_path %>
